{% extends './layout.html' %}
{% block content %}

<form action="{{ url_for('cadastrar_evento')}}" method="POST" style="height: 100vh;"> 
    <div class="container"> 
        <h3>Dados</h3>
        <div class="row form-group">
            <div class="col-md-4">
                <label for="nome">Nome:</label>
                <input id="nome" type="text" name="nome" autocomplete="off" class="form-control"> 
            </div>    
            <div class="col-md-4">
                <label for="data">Data:</label>
                <input id="data" type="date" name="data" class="form-control">
            </div>    
            <div class="col-md-4">
                <label for="horario">Horário:</label>
                <input id="horario" type="text" name="horario" class="form-control">
            </div>    
            <div class="col-md-3">
                <label for="descricao">Descrição:</label><br>
                <textarea id="descricao" rows="4" cols="10" name="descricao" class="form-control"></textarea>
            </div>    
        </div>
    </div>
    
    <div class="container">
        <h3>Endereço</h3>
        <div class="row form-group">
            <div class="col-md-4">
                <label for="rua">Rua:</label>
                <input id="rua" type="text" name="rua" class="form-control">            
            </div>
            <div class="col-md-3">
                <label for="numero">nº:</label>
                <input id="numero" type="text" name="numero" class="form-control">
            </div>
            <div class="col-md-4">  
                <label for="cidade">Cidade:</label>
                <select name="cidade" class="form-control">
                    <option value="join">Joinville</option>
                    <option value="sfs">São Francisco do Sul</option>
                </select>
            </div> 
        </div>
        <button class="btn btn-success"type="submit">Cadastrar evento</button>
    </div>
    
   
</form>

{% endblock %}
