<form method="POST" action="/cadastrar-contato">
    <div class="container">
        <div class="row"> 

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nome</label>
                <input id="nome-input" type="nome" name="nome"  class="form-control" placeholder="Seu nome">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email-input">Endereço de email</label>
                <input id="email-input" type="email" name="email"  class="form-control" placeholder="Seu email">
            </div>
        </div>

    </div>
</form>