{% extends "layout.html" %}
{% block content %}

    <div class="" style="min-height:60vh; max-height: 100vh;">
        <h1 class="" style="text-align: center;">{{ nomeSite }}</h1>
        {% for evento in data %}
            <div class="p-2">

                <h3>{{ evento.nome }} - {{ evento.data  }}</h3>
                
                <div class="">
                    {{ evento.descricao }}
                </div>

            </div>
        {% endfor %}  
    </div>
{% include './registro/formulario.html' %} 
{% endblock %}

