{% extends "layout.html" %}
{% block content %}
    <form class="form-position dimension-input" method="POST" action="/autenticar">
        <div class="form-group">
            <label for="email-input">Endereço de email</label>
            <input id="email-input" type="email" name="email"  class="form-control" aria-describedby="emailHelp" placeholder="Seu email">
        </div>
        <div class="form-group">
            <label for="password-input">Senha</label>
            <input id="password-input" name="senha" type="password" class="form-control"  placeholder="Senha">
        </div>
        <button type="submit" class="btn btn-primary">Logar</button>
      </form>
{% endblock %}