<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css', v=0.04) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css', v=0.03) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css.map', v=0.03) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css', v=0.03) }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TÍTULO</title>
</head>
<body>    
    <div class="div-test">
        <br></br>
    </div>
</body>
</html>